.form {
    margin: 36px;
}
.label{
    display: flex;
    flex-direction: column;
    gap: 8px;
width: 360px;
height: 72px;
margin-bottom: 16px;
}
.input-snack{
    border-radius: 4px;
    border: 1px solid #808080;
    height: 38px;
}
.fieldset{
width: 336px;
height: 78px;
border-radius: 4px;
margin-bottom: 24px;
}
.button-snack{
border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background: #4e75ff;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
        border: none;
}
.button-snack:hover,
.button-snack:focus {
    background: #6c8cff;
}